.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center > * {
  max-width: 100%;
}

.flex-center ul,
.flex-center ol {
  text-align: left;
  display: inline-block;
}

.custom-center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
}
